html {
    font-size: 10px;
    background-color:rgb(255, 255, 255); }

  body {
    width: 1270px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;}

    /*línea text-shadow: 3px 3px 1px rgb(83, 82, 82);*/ 

  .barra {
    position:absolute;
    top: 30px; right: 65px;
    color:  rgb(25, 100, 129);
    font-size: 16px;
    letter-spacing: 1px;
    }

   .argp {
    position: absolute;
    top: 10px; left: 55px; 
    background-color: rgb(25, 100, 129)
    }

   .estudiante {
    position: relative;
    left: 90px ;
   }

   #tec {
    position:absolute;
    top: 965px; right: 670px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

    #sec {
    position:absolute;
    top: 1050px; right: 690px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

    #prim {
    position:absolute;
    top: 1110px; right: 890px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

   #sp {
    position:absolute;
    top: 1232px; right: 1065px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

   #rcp {
    position:absolute;
    top: 1320px; right: 980px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

   #cfl {
    position:absolute;
    top: 1400px; right: 690px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

    #cisc {
    position:absolute;
    top: 1463px; right: 840px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

   #por {
    position:absolute;
    top: 1535px; right: 875px;
    color:  rgb(0, 0, 0);
    letter-spacing: 0px; }

   ul {
    color: black;
    font-size: 12px;
    letter-spacing: opx;
    font-family: sans-serif;}

  
  h1 {
    margin: 0;
    padding: 20px 0px;
    color: black
     font-family: arial;;} 


/*párrafo*/

 p {
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Verdana;}

 * { font-family: arial }


 /* .bann {
  width: 1250px;
	height: 550px;
	border: 1px solid rgb(18, 89, 196);
  } */

 a:hover {
  background-color : rgb(45, 166, 236)
 }

 /* selector universal: *{...}  
 selector de elementos: por ejemplo il{...} 
 selector de clases: <class="nombre"> -> .nombre {...} 
 selector de id: <id="nombre2" -> #nombre 2 {...} */