   <div>
     <img class="perfil" src="./assets/cverde.jpg" width="1250" height="75"/> 
      <!--<img src="C:/Luján/proyecto/src/assets/cverde.jpg">-->
    </div> <br>
    <div>
      <img class="argp" src="./assets/logoAP.png"width="170" height="50"/>
    </div>
    <!--Barra-->
    <nav class="barra"> 
      <a href="#inicio">Inicio</a>
      <a href="mailto:brisalujant@gmail.com"> Contacto </a>
      <a>Instagram</a>
      <a>Twitter</a>
    </nav>
    <div>
     <img class="bann" src="./assets/backg.jpg" width="1250" height="550">
    </div>  <br>
