<h3>Hard & Soft Skills</h3>  <br>
<br>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="65"
  [radius]="75"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'rgb(15, 177, 56)'"
  [innerStrokeColor]="'rgb(130, 223, 153)'"
  [animation]="true"
  [animationDuration]="650"
  [titleFontSize]="'35'"
  [showSubtitle]="false"

></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="50"
  [radius]="75"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'rgb(15, 177, 56)'"
  [innerStrokeColor]="'rgb(130, 223, 153)'"
  [animation]="true"
  [animationDuration]="650"
  [titleFontSize]="'35'"
  [showSubtitle]="false"

></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="35"
  [radius]="75"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'rgb(15, 177, 56)'"
  [innerStrokeColor]="'rgb(130, 223, 153)'"
  [animation]="true"
  [animationDuration]="650"
  [titleFontSize]="'35'"
  [showSubtitle]="false"

></circle-progress>
</div>
