<br>
<br>
<h2><u>Hard & Soft Skills</u></h2> <br>
<div class="text-center">
<div  class="cont">
  <div class="row">
    <div class="col">
      <circle-progress 
        [percent]="65" 
        [radius]="75" 
        [outerStrokeWidth]="10" 
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(15, 177, 56)'" 
        [innerStrokeColor]="'#73c0df'" 
        [animation]="true"
        [animationDuration]="650" 
        [titleFontSize]="'35'" 
        [showSubtitle]="false">
      </circle-progress>
    </div>
    <div class="col">
      <circle-progress 
        [percent]="55" 
        [radius]="75" 
        [outerStrokeWidth]="10" 
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(15, 177, 56)'" 
        [innerStrokeColor]="'#73c0df'" 
        [animation]="true"
        [animationDuration]="650" 
        [titleFontSize]="'35'" 
        [showSubtitle]="false">
        <h3>HTML</h3>
      </circle-progress>
    </div>
    <div class="col">
      <circle-progress 
        [percent]="35" 
        [radius]="75" 
        [outerStrokeWidth]="10" 
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgb(15, 177, 56)'" 
        [innerStrokeColor]="'#73c0df'" 
        [animation]="true"
        [animationDuration]="650" 
        [titleFontSize]="'35'" 
        [showSubtitle]="false">
      </circle-progress>
    </div>
  </div>
</div>
</div>
<div class="text-center">
 <div  class="cont">
   <div class="row">
     <div class="col">
       <h3 class="text">HTML</h3> </div>
     <div class="col">
       <h3 class="text">CSS</h3> </div>
     <div class="col">
      <h3 class="text">JavaScript</h3> </div>
   </div>
 </div>
</div>
<br><br><br>