.row{
    padding: 20px;
    padding-bottom: 0%;
}
/*.text{
    padding-top: 0%;
    border-radius: rgb(15, 177, 56);
    background-color: rgb(130, 223, 153);
}*/

.text {
    width: 40%;
    background-color: transparent;
    border-radius: 2px;
    padding: 9px 9px;
    border: 2.5px solid #73c0df;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 120PX;
   }
   /* #017bab*/