<h3>Hard & Soft Skills</h3>  <br>
       <div class="cont">
       <div class="row">
         <div class="col">soft kills</div>
         <div class="col">soft kills</div>
         <div class="col">soft kills</div>
         <div class="col">soft kills</div>
       </div>
       <div class="cont">
         <div class="row">
           <div class="col">soft kills</div>
           <div class="col">soft kills</div>
           <div class="col">soft kills</div>
           <div class="col">soft kills</div>
         </div>
      </div>
     <br> <br>
