<footer>
    <h3>Login</h3>
      <div class="cont3">
      <div class="row">
      <div class="col-3">
       <form action="respuestas.html" method="post">
          <div class="mb-2">
           <label for="exampleInputEmail1" class="form-label">Email </label>
           <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
           <div id="emailHelp" class="form-text">Su correo electrónico no sera compartido.</div>
         </div>
         <div class="mb-2">
            <label for="exampleInputcontraseña1" class="form-label">Contraseña</label>
            <input type="contraseña" class="form-control" id="exampleInputcontraseña1">
         </div>
         <div class="mb-2 form-check">
           <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-registrar-label" for="exampleCheck1"> Registrar</label>
         </div>
         <button type="enviar" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
    </div>
  </footer>
